/* ****************************************************************************************************************** * 
 * Main CSS File
 * ****************************************************************************************************************** */

* {
  background        : #c8b098;
}

#workspace-name {
  background        : #000032;
  color             : #c8b098;
  font-size         : xx-large;
  font-weight       : bold;
  margin            : 0px;
  padding           : 30px;
}

