/* ****************************************************************************************************************** * 
 * Main CSS File
 * ****************************************************************************************************************** */

* {
  background        : #c8b098;
}

.game-status * {
  /*
  background        : #b8a088;
  */
  font-size         : x-large;
  font-weight       : bold;
  font-family       : monospace;
}

.day-label * {
  font-size         : x-large;
  font-weight       : bold;
  padding-top       : 15px;
  padding-bottom    : 15px;
  padding-left      : 5px;
  background        : #983028;
  color             : #f7f4c2;
  border            : none;
}

.day-label:hover * {
  border            : 0px;
  background        : #f83028;
}

.game-label {
  padding-top       : 5px;
  padding-bottom    : 5px;
  padding-left      : 5px;
  margin-right      : 5px;
}

.game-label:hover * {
  background        : #9830f8;
}

.game-label:focus * {
  background        : #98f308;
}

.team-banner {
  padding-top       : 5px;
  padding-bottom    : 5px;
}

.name-label {
  font-weight       : bold;
}

.time-label {
  /*
  background        : #000032;
  color             : #f0f032;
  */
}

.game-tile {
}

.list-header {
  font-size         : large;
  font-weight       : bold;
  background        : #002000;
  color             : #ffff3f;
}

.schedule-record-entry {
  padding           : 4px;
}

.test-a * {
  background        : red;
}

.test-b * {
  background        : blue;
}

.test-c * {
  background        : yellow;
}

.test-d * {
  background        : green;
}

.test-e * {
  background        : orange;
}

/*
#workspace-name {
  background        : #000032;
  color             : #c8b098;
  font-size         : xx-large;
  font-weight       : bold;
  margin            : 0px;
  padding           : 30px;
}
*/
